# for python virtual environment
.venv
# for pycache
__pycache__

# for execution reports
*.html
*.xml
*.log
*.png
# for experimental files
test.robot
# for credentials
credentials/
# for DS_Store
.DS_Store